<!doctype html>
<html>
<head>
    <title>Top Anime</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/170c91c28b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="profile.css">
    <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">

</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1 class='vamp'><i class="fas fa-dice-d20"></i> My List</h1>
        <a href="/profile" class="btn">Anime</a>
        <a href="/manga" class="btn">Manga</a>
        <a href="/logout" class="btn">Logout</a>
    </div>

    <!-- ========Had to disable search because of too NSFW entries=======// -->
    <!-- <h3 id="marginAuto"><input type="search" placeholder="Search For Manga..."></input>
    <button><i class="fa fa-search" aria-hidden="true"></i></button></h3> -->

    <div class="row">

</div>
</div>

    <ul>
        <%= favs %>
    </ul>

<ol></ol>
<script src="mainFavs.js"></script>

</body>
</html>
