<!doctype html>
<html>
<head>
    <title>Anime List</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="index.css">
    <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
    
</head>
<body>
<div>

    <div>
        <h1 class="vamp">Anime List</h1>
        <a href="/login" class="btn" id="firstBtn"><span class="vamp"></span>Login</a>
        <a href="/signup" class="btn" id="secondBtn"><span class="vamp"></span>Signup</a>

    </div>

</div>
</body>
</html>
