<!doctype html>
<html>
<head>
    <title>Top Anime</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/170c91c28b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="profile.css">
    <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1 class='vamp'><i class="fa fa-dragon"></i> Top Anime List</h1>
        <a href="/favs" class="btn">My Favs</a>
        <a href="/manga" class="btn">Manga</a>
        <a href="/logout" class="btn">Logout</a>
    </div>

<!--Search that will be implemented in version 2-->
    <!-- <h3 id="marginAuto"><input type="search" placeholder="Search For Anime..."></input>
    <button><i class="fa fa-search" aria-hidden="true"></i></button></h3> -->

</div>
<ol></ol>
  <ul>
  <% for(var i=0; i<anime.length; i++) {%>
    <li>
      <%= anime[i].listItem %>
    </li>
  <% } %>
  </ul>
<script src="mainAnime.js"></script>

</body>
</html>
